<div class="container border rounded my-5 w-50 p-4">
    <h1 class="mb-4">Register New College</h1>

    <form action="/newcollege" method="POST">
        <div class="form-group">
            <label for="course">College Name</label>
            <input type="text" class="form-control" name="collegeName" placeholder="College Name" required>
        </div>
        <div class="form-group w-50">
            <label for="course">State</label>
            <input type="text" class="form-control" name="state" placeholder="State located..." required>
        </div>
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>