
<div class="container border rounded my-5 w-50 p-4">
  <h1 class="mb-4">Create a New Review</h1>

  <form>
    <div class="form-group">
      <label for="course">Course Title</label>
      <input type="text" class="form-control" id="course" placeholder="Course Title">
    </div>
    <div class="form-group">
      <label for="course">Major</label>
      <input type="text" class="form-control" id="major" placeholder="Major">
    </div>
    <div class="form-group">
      <label for="course">College</label>
      <input type="text" class="form-control" id="college" placeholder="College Name">
    </div>
    <div class="form-group">
      <label for="difficultyRating">Difficulty Rating (1-10)</label>
      <input type="range" class="form-control-range" id="difficultyRating" min="1" max="10" list="tickmarks">
    </div>
    <div class="form-group">
      <label for="workloadRating">Workload Rating (1-10)</label>
      <input type="range" class="form-control-range" id="workloadRating" min="1" max="10" list="tickmarks">
    </div>
    <div class="form-group">
      <label for="interestRating">Interest Rating (1-10)</label>
      <input type="range" class="form-control-range" id="interestRating" min="1" max="10" list="tickmarks">
      <datalist id="tickmarks">
        <option value="1" label="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5" label="5"></option>
        <option value="6"></option>
        <option value="7"></option>
        <option value="8"></option>
        <option value="9"></option>
        <option value="10" label="10"></option>
      </datalist>
    </div>
    <div class="form-group">
      <label for="comments">Comments and Tips</label>
      <textarea class="form-control" id="comments" rows="3"></textarea>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="noauthor">
      <label class="form-check-label" for="noauthor">Post Review as Anonymous</label>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>  